.wrapperElement {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.btnGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.taskName{
  text-transform: uppercase;
}